@import "tailwindcss";
html{
  scroll-behavior: smooth;
}
body{
    background:#262626;
     scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
:root {
  --text-color: #898989;
  --maintext-color:#FFE100;
}

/* Hide vertical scrollbar but keep scrolling */
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just to be safe */
}

